.container {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.listContainer {
  width: 900px;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .listContainer {
    display: none;
  }
}
