.container {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    flex-direction: column-reverse;
  }
  .smallContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
