.container {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nonAdSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
