.container {
  width: 1208px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 5px;
  }
}
