.container {
  width: 1200px;
  margin: auto;
}
.detailsContainer {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .detailsContainer {
    width: 100%;
  }
}
