@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Adorsho Lipi", sans-serif;
  font-weight: 500;
}

.skiptranslate > span {
  display: none;
}
.skiptranslate > iframe {
  display: none;
}

.goog-te-gadget > div > .goog-te-combo:nth-child(2) {
  background: red;
  display: none;
}
.goog-te-gadget > div > .goog-te-combo:nth-child(1) {
  border: 1px solid rgb(234, 224, 224);
  padding: 5px;
  border-radius: 6px;
}

#google_translate_element .goog-te-gadget:nth-child(3) {
  background: red;
  display: none;
}

.goog-te-gadget {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: visible;
}
.goog-te-combo {
  position: fixed;
  top: 0;
  right: 0;
}
